:root {
  margin: 0 auto;
  background-color: rgba(58, 80, 130, .1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}